<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Todo List</title>
  
  <!-- Materialize CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <!-- Fontawesome 6 CND-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div id="app"> 
      <nav class="orange darken-2">
        <div class="nav-wrapper"></div>
      </nav>

      <div class="section no-pad-bot orange lighten-5" id="index-banner">
        <div class="container">
          <h1 class="header center orange-text text-darken-3"><i class="fa-solid fa-list-check"></i></h1>
          <h1 class="header center orange-text text-darken-3">Lista de tarefas</h1>
          </div>
    <nav class="orange darken-2">
        <div class="nav-wrapper"></div>
      </nav>

      <div class="container" >
        <div class="section">
          <!--   Icon Section   -->
          <div class="row">
            <!-- card de tarefa que repete para cada item do array -->
    
        <div v-show="listEnabled && !newEnabled">
            <h6>Nova Tarefa</h6>

            <div class="add">

              <a class="btn-floating btn-large waves-effect waves-light orange"
              @click="salvar()"><i class="fa-solid fa-plus"></i></a>

            </div>

            <!-- LOOP TAREFAS -->

            <div v-for="tarefa in tasks" class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <label for="">Tarefa</label>
                  <p>{{ tarefa.title }}</p>
                  <label for="">Projeto</label>
                  <p>{{ tarefa.project }}</p>
                  <label for="">Data</label>
                  <p>{{ tarefa.dueTo }}</p>
                </div>
                <div class="card-action">
                  
                  <a class="btn-floating btn-large waves-effect waves-light green" id="btnSave" @click="editTasks(tarefa.id)"><i class="fa-regular fa-pen-to-square"></i></a>

                  <a class="btn-floating btn-large waves-effect waves-light red" id="btnSave" @click="deleteTasks(tarefa.id)">
                    <i class="fa-regular fa-trash-can"></i> </a>
                </div>


              </div>
            </div>
            <!-- FIM LOOP TAREFAS -->
        </div>

          </div>
        </div>
      </div>

      <!-- EDITAR -->

      <div class="container" >
        <div class="section">
            <!-- Icon Section   -->
          <div class="row">

      <div v-show="editEnabled && !newEnabled" >
        <p>
          <label for="">Tarefa</label>
          <input type="text" placeholder="Tarefa" v-model="task.title" value="task.title">
        </p>

      <p>
        <label for="">Projeto</label>
        <input type="text" placeholder="Tarefa" v-model="task.project" value="task.project">
      </p>

      <p>
        <label for="">Data</label>
        <input type="text" placeholder="Tarefa" v-model="task.dueTo" value="task.dueTo">
      </p>

      <a class="btn-floating btn-large waves-effect waves-light light-blue" href="index.html" @click="updateTasks()"><i class="fa-sharp fa-solid fa-check"></i></a>

      </div>

        </div>
      </div>
    </div>


      <!-- FIM EDITAR -->
      

<!-- Nova Tarefa -->
<div class="card horizontal" v-show="newEnabled">
  <div class="card-stacked">
    <div class="card-content">
      <h4>Nova Tarefa</h4>
      <form action="">
        <div class="input-field col s12">
          
          <input placeholder="Titulo" id="title" type="text" class="validate" required v-model="task.title">
 
        </div>

        <div >
          <label for="instrumento"> Selecione um projeto</label>
          <select id="project" class="input" v-model="task.project">
            <option >Trabalho</option>
            <option >Estudo</option>
            <option >Viagem</option>
          </select>
        </div>

        <div class="input-field col s12">
          <input type="date" class="datepicker" id="dueTo" v-model="task.dueTo">

        </div>
       
        <a class="btn-floating btn-large waves-effect waves-light light-blue" href="index.html" @click="postTasks"><i class="fa-sharp fa-solid fa-check"></i></a>
   
      </form>
    </div>
  </div>
</div>
<!-- Nova Tarefa -->
      


        </div>
      </div>

    <!-- FOOTER -->
      <footer class="page-footer orange darken-3">
        <div class="footer-copyright">
          <div class="container center">© 2022 Frontend</div>
        </div>
      </footer>
    </div>

    <!-- Materialize JavaScript CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Arquivo JS -->
    <script src="script.js"></script>
  </body>
</html>
